#bandeau_mention {
  width: 99.1vw;
  height: 85vh;
  background-image: url(../photo/resto/photo-1615830783066-26a99bc9d959.jpg);
  background-size: cover;
  background-position: top center;
  margin-top: -75px;
}
